<%- include('layout/header')%>

<div class="loginDiv">
    <form action="login">
        <label for="email"></label>
        <input type="text" placeholder="example@gmail.com"/>
        <label for="password" placeholder="Password"></label>
        <button>Login</button>
        <p>Not Registered?<span><a href="./signup">SignUp</a></span></p>
    </form>
</div>

<%- include('layout/footer')%> 
