<%- include('layout/header')%>

<div class="signupDiv">
    <form action="signup">
        <label for="name"></label>
        <input type="text" placeholder="Enter your name"/>

        <label for="email"></label>
        <input type="text" placeholder="example@gmail.com"/>

        <label for="password" placeholder="Password"></label>
        <input type="text" placeholder="Password">

        <label for="confirm-password"></label>
        <input type="text" placeholder="Confirm Password"/>

        <button>Sign Up</button>

        <p>Already Registered?<span><a href="./login">Login</a></span></p>
    </form>
</div>

<%- include('layout/footer')%> 
